---
name: Check links in README

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]
  # Run daily
  schedule: [{cron: "0 1 * * *"}]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        # Full git history is needed to get a proper list of changed files
        # within `mega-linter`
        fetch-depth: 0
    - uses: docker://dkhamsing/awesome_bot:latest
    # We have to delay 1 second between url checks or we get rate-limited on some sites.
      with:
        args: /github/workspace/README.md --allow-ssl --allow 500,501,502,503,504,509,521 --allow-dupe --allow-redirect --request-delay 1 --white-list https://github,https://img.shields.io,https://reddit.com,https://www.reddit.com,https://contributors-img.web.app,https://archive.ph,https://archive.is
